{% extends 'base.html' %}

{% block head %}
<title>Edit User</title>
{% endblock %}


{% block body %}

<h1>Edit User</h1>
<hr>
<form action="/home/users/edit/{{user.id}}/submit" method="POST">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="name" id="name" value="{{ user.name }}" aria-label="Enter Name" required />
    <br />
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" id="email" value="{{ user.email }}" aria-label="Enter Email" required />
    <br />
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Leave blank to keep unchanged" aria-label="Enter Password" />
    <br />
    <input class="btn btn-success" type="submit" value="Save" />
</form>
<hr>
{% endblock %}
