{% extends 'base.html' %}

{% block head %}
<title>Users</title>
{% endblock %}

{% block body %}
<h1 style="display: inline;">All Users</h1>
<a style="display: inline;" class="btn btn-success float-end" href="/users/new">+ NEW USER</a>
<hr>
{% for user in users %}
<div class="user-item">
    <h2>{{ user.name }}</h2>
    <p>Email: {{ user.email }}</p>
    <a class="btn btn-danger" href="/users/delete/{{ user.id }}">DELETE</a>
    <a class="btn btn-primary" href="/users/edit/{{ user.id }}">EDIT</a>
    <hr>
</div>
{% endfor %}
{% endblock %}
